*{
 margin: 0px;
    font-family: Poppins;
}
body{
    height: 100vh;
    overflow: hidden;
}
nav{
    padding: 15px;
    box-shadow: 0px 3px 5px -1px rgba(0 0 0/ 20%), 0px 5px 8px 0px rgba(0 0 0/ 12%)
    , 0px 1px 14px 0px rgba(0 0 0/ 12%);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 21px;
    font-weight: 700;

}
.p{
    margin: 0px;
    font-size: 21px;
    font-weight: 700;
}
form{
    max-width: 700px;
    margin: auto;
}
input{
    font-weight: 400;
}
input:focus,
textarea:focus,
button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.col-form-label{
    font-weight: 600;
}
section{
    text-align: center;
    font-size: 19px;
}
.buttonBox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    
    border-top: 3px solid rgb(255, 0, 0);
    animation: spin 1s linear infinite;
    position: absolute;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#my-signin2{
    height: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
}